{% extends 'layout.html' %}
{% load static %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Our Gemstone Heritage</h1>
            <p class="lead fw-normal text-white-50 mb-0">Transforming authentic Burmese precious gems into fine,
                handcrafted art</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg0-10">
                <div class="ratio ratio-16x9 shadow rounded overflow-hidden">
                    <video width="640" height="360" controls poster="thumbnail.jpg">
                        <source src="{% static 'gemsart_production.mp4' %}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}